/*css selectors*/
#agenda-telefonica {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#agenda-telefonica td, #agenda-telefonica th {
    border: 1px solid #ddd;
    padding: 8px;
}

#agenda-telefonica tr:nth-child(even){background-color: #f2f2f2;}

#agenda-telefonica tr:hover {background-color: #ddd;}

#agenda-telefonica th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #762bad;
    color: white;
}